.title {
  margin-top: 3.4rem;
  font-size: 3.6rem;
  background: linear-gradient(90deg, #ff0000, #ffff00, #00ff00, #00ffff, #ff00ff, #ff0000);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-move 10s linear infinite;
  width: 520px;
}

.home-container {
  
}

.main-section{
  background-color: rgb(15, 15, 68);
  border-radius: 0px 0px 25px 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
}

@keyframes rainbow-move {
  0% { background-position: 0% 50%; }
  100% { background-position: 400% 50%; }
}

.subtitle {
  font-size: 1.4rem;
  width: 550px;
  text-align: center;
  margin-top: 25px;
}

.start {
  border-radius: 15px;
  width: 195px;
  height: 55px;
  font-size: 1.2rem;
  padding: 12.5px;
  border-color: rgb(54, 54, 183);
  color: white;
  border-style: solid;
  background-color: rgb(22, 15, 72);
  box-shadow: 0px 0px 20px 5px rgb(54, 54, 156);
  margin: 70px 0px;
  cursor: pointer;
}

.start:hover {
  border-color: rgb(68, 68, 235);
  background-color: rgb(32, 22, 103);
  animation: hovering 1s forwards;
  animation-fill-mode: forwards;  
}

@keyframes hovering {
  0% {
    box-shadow: 0px 0px 17.5px 5px rgb(54, 54, 156);
  }
  100% {
    box-shadow: 0px 0px 10px 2.5px rgb(54, 54, 156);
  }
}

@keyframes unhovering {
  0% {
    box-shadow: 0px 0px 10px 2.5px rgb(54, 54, 156);
  }
  100% {
    box-shadow: 0px 0px 17.5px 5px rgb(54, 54, 156);
  }
}

.user-need {
  display: flex;
  justify-content: center;
  align-items: center;
}